/node_modules
/public/hot
/public/*
!/public/storage/images
/public/storage/scripts/*
!/public/storage/scripts/datatable
/storage/*.key
/vendor
/.idea
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
